.form-field {
	> label {
		display: block;
		font-size: $font-size-xs;
	}

	> input {
		margin: .4em 0;
		padding: .4em .6em;
		outline: none !important;
		border: 0;

		color: var(--neutral-lightest);
		background: hsla(var(--neutral-darkest-hsl), .8);

		border-bottom: 1px solid var(--neutral-lightest);

		transition: border-bottom-color .2s;

		&:focus {
			border-bottom-color: var(--primary);
		}
		&:-webkit-autofill {
			-webkit-text-fill-color: var(--neutral-lightest);
			-webkit-box-shadow: 0 0 0 1000px hsla(var(--neutral-darkest-hsl), 1) inset;

			border-bottom-color: var(--info);
		}
	}

	.field-message {
		margin: 0;
		color: var(--warning);
		font-size: $font-size-xxs;

		&.error {
			color: var(--error);
		}
	}

	+ .form-field {
		margin-top: 1em;
	}
}
